---
layout: default
---

<div class="header">
    <hr>
    <h1 align=middle> Random thoughts </h1>
    <h2 align=middle> from my wandering mind </h2>
    <hr>    
    <ul align=middle>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Entries:</h1>
    <ul>
       {% for item in site.data.topics_navigation %} 
        <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
