<div class="nav_items" id="nav_bar" align="center">
        {% for item in site.data.navigation %}
            <a href="{{ item.url }}">
                {{ item.title }}
            </a>
        {% endfor %}
    
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/assets/js/myFunction.js" type="text/javascript"></script>

