<ul class="share-buttons" align="center">
    <h2> Keep in Touch</h2><br>
    <li><a href="https://facebook.com/{{ site.facebook_username }}" rel="nofollow" target="_blank" title="Facebook"  onclick="window.open('https://www.facebook.com/{{ site.facebook_username}}); return false;"><img alt="Facebook" src="/blog/images/flat_web_icon_set/inverted/Facebook.png" /></a></li>
 <li><a href="https://instagram.com/{{ site.instagram_username}}" rel="nofollow" target="_blank" title="Instagram"  onclick="window.open('https://www.instagram.com/{{ site.instagram_username}}); return false;"><img alt="Instagram" src="/blog/images/flat_web_icon_set/inverted/Instagram.png" /></a></li>

    <!--
    <li><a href="https://twitter.com/{{ site.twitter_username }}" rel="nofollow" target="_blank" title="Twitter" onclick="window.open('https://twitter.com/twitter_username); return false;"><img alt="Twitter" src="blog/images/flat_web_icon_set/inverted/Twitter.png" /></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fdaleonpz.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="images/flat_web_icon_set/inverted/Google+.png" /></a></li>
  -->
</ul>

