---
---

@import "reset";
@import "config";

body {
	color: $color-black;
	background: $color-white;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: $color-hire-black;
  text-decoration: none;
  font-weight: bold;
  &:visited {
	color: $color-black;
	text-decoration: none;
  }
  &:hover {
	 background-color: $color-grey;
	 text-decoration: none;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
blockquote {
  color: $color-black;
  border-left: 4px solid $color-black;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

.wrapper {
	max-width: 600px;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 3.5em;
                font-weight: bold;
		margin-bottom: 0;
	}
        h2 {
                font-size: 1.5em;
		margin-bottom: 0;
        }
        img {
                margin-top: 10px;
                margin-bottom: 10px;
                margin: auto;
                width: 100%;
        }
        i {
                font-style: italic;
        }
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}
}

.blog {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
        h2 {
                font-weight: bold;
                font-size: 1.4em;
                text-align: center;
		margin-bottom: 5px;
	}
}

.music {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	a {
		padding: 5px;
		padding-left: 10px;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 3.0em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 110%;
			margin-bottom: 40px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		vzt {
			margin-top: 10px;
			margin-bottom: 10px;
                        margin: auto;
                        width: 100%;
                        &:hover {
                            opacity: 1
                        }
		}
                img {
			margin-top: 10px;
			margin-bottom: 10px;
                        margin: auto;
                        width: 100%;
		}
                code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.2;
			border-radius: 3px;
			background: $color-grey;
                        overflow-y: auto;
			code {
				color: $color-black;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
                h2 {
			font-size: 1.2em;
			font-weight: 700;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		strong {
			font-weight: 700;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
                img {
			margin-top: 10px;
			margin-bottom: 10px;
                        margin: auto;
                        width: 100%;
		}
            }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


#mailchimp {
	background: $color_hire_shadow;
	color: $color_black;
	padding: 20px 15px;
}
	#mailchimp input {
		 border: medium none;
                color: gray;
                font-family: 'Inconsolata';
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 10px;
                padding: 8px 10px;
                width: 300px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: $color_black;
			color: $color_white;
			cursor: pointer;
			width: 45%;
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: #F2C94C }
