---
layout: default
---

<div class="post">
  <link href="/css/syntax.css" rel="stylesheet">
	<div class="post__back">
        <a class="about__back" href="/{{ page.category }}" >&lt; more posts</a>

    </div>
    <div class="post__shared_buttons" align="right">
        {% include share_buttons.html %}
    </div>
    <hr>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date" align=right>
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <hr>
    
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
    <span style="display:block; height: 5px ;"></span>

    <!--
    <hr>
    <div class="post__title" align=middle>
        <a> I'm glad you came this far</a> <br><br>
    </div>

    <div id=maitto align=left>
        Dear Friend, <br><br>
        I hope this post helped you. <br>
        And if you had fun reading it...  <br>
    </div>
    
        <span style="display:block; height: 20px ;"></span>
    <div id=donation align="center" >
        <a target="_blank" rel="nofollow" href="https://paypal.me/daleonpz/1"><img title="PayPal Donation" src="images/paypal.png"></a>
    </div>
    
    <div id=maitto align=left>
        And help this page to be alive and ad free. 
        Thanks, <br>
    </div> 
    <div id=maitto align=left>
             &ensp;&ensp; Daniel <br>
    </div> 
-->
    <div class="post__subscription" align="middle">
        {% include subscription.html %}
    </div>


    <div id=maitto  align="middle">
    <hr>
        Share it!  <br>
    </div>
    
    <div class="post__shared_buttons" align="middle">
        {% include share_buttons.html %}
    </div>

    <span style="display:block; height: 20px ;"></span>
        <span style="display:block; height: 10px ;"></span>
    <div class="post__navigation" align="middle">
        <a class="about__back" href="/{{ page.category }}" >Similar Posts</a>
    </div>


    <div class="post__prev_next" align="middle">

    {% assign weighted_categories = site.category_weights %}
    {% assign categories = site.categories %}
    {% assign page_category = page.category %}
    {% assign page_title = page.title %}

    {% for category in categories %}
      <div class="category-group">
        {% assign sorted_articles = category[1] | sort: 'weight' %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% if category_name == page_category %}
          {% for article in sorted_articles %}
            {% if article.title == page_title %}
              {% assign currIndex = forloop.index0 %}
              {% assign prevIndex = currIndex | minus: 1 %}
              {% assign nextIndex = currIndex | plus: 1 %}
              {% assign articleIndexLength = forloop.length | minus: 1 %}
              <div class="page-navigation">
                {% if currIndex == 0 %}
                  <a class="next0" href="{{ site.url }}{{ site.baseurl }}{{ sorted_articles[nextIndex].url }}">Next &raquo;</a>
                {% elsif currIndex < articleIndexLength and currIndex != 0 %}
                  <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ sorted_articles[prevIndex].url }}">&laquo; Previous</a>
                  <a class="next" href="{{ site.url }}{{ site.baseurl }}{{ sorted_articles[nextIndex].url }}">Next &raquo;</a>
                {% elsif currIndex == articleIndexLength %}
                  <a class="prev" href="{{ site.url }}{{ site.baseurl }}{{ sorted_articles[prevIndex].url }}">&laquo; Previous</a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    </div>
</div>



