---
layout: default
---

<div class="post">
  <link href="/css/syntax.css" rel="stylesheet">
	<div class="post__back">
    	<a href="javascript: window.history.go(-1)">&lt;-- back</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
    <div class="post__shared_buttons" align="middle">
        {% include share_buttons.html %}
    </div>
    <span style="display:block; height: 50px ;"></span>
    <div class="post__navigation" align="middle">
        <a class="about__back" href="/{{ page.category }}" >Similar Posts</a>
    </div>
    <div class="PageNavigation" align="middle">
    {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>

</div>



